---
layout: default
title: Sonoma Trikes
---
{% include navbar.html %}


<h1>Sonoma Trikes <small>Wellness on Wheels</small></h1>
<div class="row">
  <div class="col-md-6">
    <img class="img-logo" src="/img/logo-hills.svg">
    <ul class="rslides">
    {% for image in site.data.images.front_page %}
      <li><img class="img-rounded img-responsive" src="/img/rotate/{{image}}">
    {% endfor %}
    </ul>
    <h2>Why Ride Trikes?</h2>
    <ul>
      <li><strong>Stability</strong> – loose gravel, sand, ice, tire blowouts, etc. will not send a trike crashing to the ground.
      <li>Ride during the winter – hitting a patch of ice is fun on a trike.
      <li>Do you have trouble <strong>balancing</strong>? No problem with a trike.
      <li>No need to drop a foot off the pedal in tight turns to protect against wipeouts
      <li>Leaning into the turns makes cornering on a trike fun. They handle like a sports car or go-cart – you can even brake-steer on a TerraTrike.
      <li>Pull up to a stop and never put your foot down on the road
      <li>No wasted energy balancing the trike on those slow <strong>steep climbs</strong> – this is the reason that trikes are better climbers than two-wheeled recumbents.
      <li>More <strong>respect from motorists</strong>, they slow down and give you a wider berth when passing – primarily out of sheer curiosity.
      <li>Easier to track a straight line on the side of a road – no need for wobble room during a steep climb in traffic.
      <li>No need for a kickstand or leaning post.
      <li>Less road friction/tire scrub from a rider’s side-to-side balance shift (wobble).
      <li>Instant <strong>celebrity status</strong> – you may be the first person in your neighborhood with a trike – people will know who you are.
      <li>Great platform for attaching fairings and accessories.
    </ul>
  </div>
  <div class="col-md-6">
    <section>
      <h2>Get your own Trike!</h2>
      <p>{% include hours.html %} To arrange a visit please call or text <a href="tel:+1-707-559-8101">(707) 559-8101</a> or email us at <a href="mailto:sonomatrikes@gmail.com">sonomatrikes@gmail.com</a>.
      </p>
      <div class="row">
        <div class="col-xs-6">
          <p><img class="img-rounded img-responsive" src="/img/shop/2014-08-02.jpg"></p>
        </div>
        <div class="col-xs-6">
          <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <a href="https://www.google.com/maps/place/1400+Valley+House+Dr/@38.322743,-122.6805841,17z/data=!3m1!4b1!4m2!3m1!1s0x80844ae44b762e79:0xb8b09fe22a1a774d">
              <span itemprop="streetAddress">1400 Valley House Road, Suite A</span><br />
              <span itemprop="addressLocality">Rohnert Park</span>,
              <span itemprop="addressRegion">CA</span> <span itemprop="postalCode">94928</span>
            </a>
          </p>
          <p>
          Located in the Sonoma Mountain Village, west of Sally Tomatoes, in the maintence/ warehouse area near the Comcast truck lot, railroad track and big soccer field.
          </p>
        </div>
      </div>
      <div id="map-canvas"></div>
    </section>
    <section>
      <h2>Our Manufacturers</h2>
      <p>We have a wide selection of trikes available from a range of manufacturers.</p>
      <dl class="manufacturers dl-horizontal">
      {% for manufacture in site.data.manufacturers %}
        <dt>
          {% if manufacture.icon %}
          <img width="16" height="16" src="{{manufacture.icon}}">
          {% else %}
          <img width="16" height="16" src="{{manufacture.url}}favicon.ico">
          {% endif %}
          <a href="{{manufacture.url}}">{{manufacture.name}}</a>
        </dt>
        {% if manufacture.description %}
        <dd>{{manufacture.description}}</dd>
        {% endif %}
      {% endfor %}
      </dl>
      <a href="/trikes" class="btn btn-primary">Find a Trike to Ride!</a>
    </section>
  </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
function initialize() {
  var mapOptions = {
    zoom: 14,
    center: new google.maps.LatLng(38.322743,-122.6805841)
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'),
                                mapOptions);


  var bikeLayer = new google.maps.BicyclingLayer();
  bikeLayer.setMap(map);

  var myLatLng = new google.maps.LatLng(38.322743,-122.6805841);
  var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Sonoma Trikes'
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>
