body { padding-top: 70px; }
#map-canvas {
    min-height: 400px; 
    margin: 0px;
    padding: 0px
  }
p {
  max-width: 85rem;
  white-space: normal;
}
h1, h2, h3 {
  font-family: "coquette", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.btn-block {
  padding-left: 10px;
  padding-right: 10px;
}
dl.compare {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: smaller;
}
@media (min-width: 768px) {
  dl.compare dt {
    width: 50px;
  }
  dl.compare dd {
    margin-left: 60px;
  }
}
.fa-fw {
  width: 1.2857142857142858rem;
}

