  <dl>
  	<dt>Wheels</dt>
  	<dd>{{trike.details.wheels | xml_escape}}</dd>
  	<dt>Steering</dt>
  	<dd>{{trike.details.steering}}</dd>
  	<dt>Folding</dt>
  	<dd>
  		{%if trike.details.folding %}
  		<i class='fa fa-check text-success'></i>
  		{% else %}
  		<i class='fa fa-times text-danger'></i>
  		{% endif %}
  	</dd>
  	<dt>Suspension</dt>

  	<dd>
      {%if trike.details.suspension %}
      {{trike.details.suspension}}
      {% else %}
      <i class='fa fa-times text-danger'></i>
      {% endif %}
    </dd>
  </dl>