---
layout: default
title: Sonoma Trikes - Our Trikes
---

{% include navbar.html %}

<h1>Our Trikes</h1>
<div class="row">
  <div class="col-sm-2">
    <ul class="rslides">
    {% for image in site.data.images.front_page %}
      <li><img class="img-rounded img-responsive" src="/img/rotate/{{image}}">
    {% endfor %}
    </ul>
    <p></p>
  </div>
  <div class="col-sm-10">
    <p>There are a wide range of recumbent trike styles available, with different ride heights, options, front suspension, rear suspension, folding for easy storage/travel/transport, or even fully weatherized velomobiles (enclosed trikes). We can help you find your way through all the options, and keep you within a desired budget, or build an amazing dream machine ready for anything.</p>
    <p>If you would like to know more, please contact us to setup a <strong>personalized demo appointment</strong> around your schedule, anytime from 7am-7pm, 7 days a week (depending of our family schedule). A demo experience will usually take a hour or so, and if you want to explore any particular models further, we have <strong>day or week long rental</strong> options available. Half of the rental price can be used as a credit towards the purchase of your trike!</p>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped tablesorter">
    <thead>
      <tr>
        <th data-sorter="false">
        <th>Name
        <th data-sorter="currency" data-string="min">MSRP
        <th>Rental Rate
        <th data-sorter="false">
      </tr>
    </thead>
    <tbody>
    {% for trike in site.data.trikes %}
      <tr>
        <td>
          <a href="{{trike.url}}" target="_blank"><img class="img-rounded" width="160" src="{{trike.img}}"></a>
          {% include compare.html params=trike %}
        <td>
          <p>
            <span class="manufacture">
            {% for manufacture in site.data.manufacturers %}
              {% if manufacture.name == trike.brand %}
                <a href="{{manufacture.url}}" target="_blank">
                {% if manufacture.icon %}
                <img width="16" height="16" src="{{manufacture.icon}}">
                {% else %}
                <img width="16" height="16" src="{{manufacture.url}}favicon.ico">
                {% endif %}
                {{manufacture.name}}
                </a>
              {% endif %}
            {% endfor %}
            </span>
            | 
            <a href="{{trike.url}}" target="_blank">{{trike.name}}</a>
          </p>
          <p>{{trike.description}}</p>
        <td>
        {% if trike.spec_url %}
          <a href="{{trike.spec_url}}" target="_blank">{{trike.msrp}}</a>
        {% else %}
          {{trike.msrp}}
        {% endif %}
        <td>
          {% if trike.rental_rate_week %}
          {{trike.rental_rate_week}}/week
          {% endif %}
        <td>
            {% if trike.order_url %}
            <a class="btn btn-sm btn-block btn-success" href="{{trike.order_url}}"><strong>Order Now</strong></a>
            {% endif %}
            <a class="btn btn-sm btn-block btn-primary btn-email" href="mailto:{{site.mailto}}?subject=Demo Ride: {{trike.name | uri_escape}}">Schedule a Demo Ride</a>
            {% if trike.rental_rate_week %}
            <a class="btn btn-sm btn-block btn-default btn-email" href="mailto:{{site.mailto}}?subject=Rent: {{trike.name | uri_escape}}">Rent a {{trike.name}}</a>
            {% endif %}
            <button type="button" class="btn btn-sm btn-block btn-default btn-popover" data-container="body" data-toggle="popover" data-html="true" data-placement="left" data-title="{{trike.name}}" data-content="{% include trike_details.html params=trike %}">
             Show Details
            </button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>