---
layout: default
title: Sonoma Trikes - Our Trikes
---

{% include navbar.html %}

<h1>Our Trikes</h1> 
<p>There are a wide range of recumbent trike styles available, with different ride heights, options, front suspension, rear suspension, folding for easy storage/travel/transport, or even fully weatherize velomobiles (enclosed trikes). We can help you find your way through all the options, and keep you within a desired budget, or build an amazing dream machine ready anything.</p>
<p>If you would like to know more, please contact us to setup a personalized demo appointment around your schedule, anytime from 7am-7pm, 7 days a week (depending of our family schedule :) A demo experience will usually take a hour or so, and if you want to explore any particular models further, we have day or week long rental options available.</p>
<div class="table-responsive">
  <table class="table table-striped tablesorter">
    <thead>
      <tr>
        <th data-sorter="false">
        <th>Name
        <th>Manufacturer
        <th data-sorter="currency" data-string="min">MSRP
        <th>Wheels
        <th>Steering
        <th>Rental Rate
      </tr>
    </thead>
    <tbody>
    {% for trike in site.data.trikes %}
      <tr>
        <td><img class="img-rounded" width="160" src="{{trike.img}}">
        <td>{{trike.name}}
        <td>{{trike.brand}}
        <td>{{trike.msrp}}
        <td>{{trike.wheels}}
        <td>{{trike.steering}}
        <td>
          {% if trike.rental_rate_week %}
          {{trike.rental_rate_week}}/week
          {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>